</div>
<div class="jumbotron text-center">
  <h1><%= fa_icon 'pencil' %>Task Me</h1>
  <p>Your cloud-based task management system</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Get started</a></p>
</div>
