/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker3
 *= require font-awesome
 */

body {
  font-family: 'Economica', sans-serif;
  font-size: 2em;
}

.jumbotron {
  background-image: image-url("desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -30px;
  height: 500px;
  color: white;
  text-shadow: 1px 1px #444;
  font-family: 'Economica', sans-serif;
  font-size: 2em;
}

.jumbotron h1 {
  margin-top: 100px;
  font-family: 'Economica', sans-serif;
  font-weight: 700;
  font-size: 2em;
}

h1, h2 {
  font-family: 'Economica', sans-serif;
  font-weight: 700;
}

.user-thumb {
  border-radius: 10px;
  max-height: 40px;
  margin: 5px 15px 5px 10px;
}

#task-form {
  display: none;
}

.add-task {
  margin-top: 20px;
}

a:hover {
  text-decoration: none;
}

.well .task a:hover {
  text-decoration: line-through;
}