<div class="row">
  <div class="col-sm-3">

    <%= link_to new_user_task_path, remote: true, id: "toggle-button" do %>
      <button class="btn btn-success add-task"><%= fa_icon "plus" %> Add task</button>
    <% end %>

    <div id="task-form"></div>
  </div>

  <div class="col-sm-9">
    <h1>Tasks</h1>
    <div id="tasks">
      <%= render @user_tasks %>
    </div>
  </div>
</div>

